<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="content">
        <div class="login_content">
            <section class="logo">
                <img src="/img/logo.png" alt="" class="logo_img">
                <h2 class="logo_titulo">Fazer Login</h2>
                <p class="logo_para">Ir para o Dashboard</p>
            </section>
            <section class="form">
                <form action="#" class="myForm">
                    <label for="username_f">Username</label>
                    <input type="text" name="username_f" id="username_f" class="username_f">
                    <a href="#">Esqueceu sua senha?</a>
                    <div class="login_btn">
                        <input type="button" value="Entrar">
                    </div>
                </form>
            </section>
        </div>
        <div class="info_content">
            <section class="lang" ></section>
            <section class="info" ></section>
        </div>
    </div>
</body>
</html>